.kufrVizitka {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.obrazekkufr {
  max-width: 100px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
}

.obrazekkufr:hover {
  max-width: 120px;
  cursor: pointer;
}

.sekceKufr {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.polozkyKufr {
  border-bottom: 0.5px solid #cadbee;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 5px;
}

.krizek {
  width: 20px;
  cursor: pointer;
}

.novaPolozka {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.inputPolozka {
  width: 100%;
}

.pridatPolozku {
  margin-left: 7px;
}
