.seznam--closed {
  display: none;
}
.btn-tisk {
  margin-top: 40px;
  text-align: center;
}
.vizitka,
.vizitka-tisk {
  text-align: center;
}

table {
  width: 100%;
}
th,
td {
  text-align: left;
  border: 3px solid white;
  background-color: #cadbee;
  padding: 10px 5px;
}

.zaobleni-tab-1 {
  border-radius: 10px 5px 5px 5px;
}
.zaobleni-tab-2 {
  border-radius: 5px 10px 5px 5px;
}
.zaobleni-tab-3 {
  border-radius: 5px 5px 5px 10px;
}
.zaobleni-tab-4 {
  border-radius: 5px 5px 10px 5px;
}
