img {
  width: 400px;
  border: 2px solid lightblue;
}

button {
  background: lightgray;
  transition: 0.25s;
  min-width: 100px;
  border: 1px solid gray;
  height: 40px;
}
button:hover {
  background: grey;
  color: white;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
