form {
  background-color: lightblue;
  width: 400px;
  padding: 10px;
  margin: 20px auto;
}

label {
  flex-direction: column;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid gray;
  text-align: left;
}

form button,
form input[type='submit'] {
  background: lightgray;
  transition: 0.25s;
  min-width: 100px;
  border: 1px solid gray;
  height: 40px;
}
form button:hover,
form input[type='submit']:hover {
  background: grey;
  color: white;
}
.tlacitka {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}
form {
  display: block;
}

.form--closed {
  display: none;
}
