form {
  background-color: #cadbee;
  width: 280px;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
  display: block;
}

label {
  flex-direction: column;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid gray;
  text-align: left;
}

.tlacitka {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.form--closed {
  display: none;
}

.body {
  text-align: center;
}

h1 {
  padding-left: 15px;
}
