* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

body {
  margin: 0;
  background-image: url(./assets/mapa.jpg);
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
}

img {
  width: 100%;
}
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  width: 720px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

header,
footer {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* ---------- konec globálních stylů ---------- */
/*
header {
  padding-top: 1px;
  height: 400px;
  background-color: white;
}
*/
.container {
  margin: 12rem auto 4rem auto;
  padding: 2rem;

  color: black;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 5px gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button,
input[type='submit'] {
  color: black;
  background: lightgray;
  transition: 0.25s;
  min-width: 100px;
  border: 1px solid gray;
  height: 40px;
  border-radius: 17px;
}
button:hover,
input[type='submit']:hover {
  background: gray;
  color: white;
}
