* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  font-size: 12px;
}

body {
  background-color: #cadbee;
  background-image: url('./assets/mapa.jpg');
  margin: 0;
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: scroll;
}

h1 {
  margin-bottom: 30px;
}

img {
  width: 70%;
  height: 70%;
}
#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin: 12rem auto 4rem auto;
  background-color: white;
  color: black;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 5px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

@media screen and (min-width: 800px) {
  .container {
    width: 60%;
  }
  .form {
    width: 70%;
  }
  html {
    font-size: 20px;
  }
  button {
    width: 100px;
  }
  .obrazekkufr {
    min-width: 130px;
  }
  .obrazekkufr:hover {
    max-width: 150px;
    cursor: pointer;
  }
}

header,
footer {
  padding-left: 2rem;
  padding-right: 2rem;
}

button,
input[type='submit'] {
  color: black;
  background: white;
  transition: 0.25s;
  border: 2px solid #cadbee;
  min-width: 60px;
  border-radius: 20px;
  padding: 5px 10px;
}
button:hover,
input[type='submit']:hover {
  background: #cadbee;
  color: white;
  border: 2px solid white;
}
button:disabled {
  color: gray;
  background-color: lightgray;
  border: none;
}
