* {
  box-sizing: border-box;
}

html {
  font-family: 'Baloo Tammudu 2', cursive;
  background-color: white;
}

body {
  margin: 0;
}

.container {
  width: 720px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

header,
footer {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* ---------- konec globálních stylů ---------- */

header {
  padding-top: 1px;
  height: 400px;
  background-color: white;
  background-image: url(./assets/mapa.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  margin: -4rem auto 4rem auto;
  padding: 2rem;

  color: black;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 5px gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background: rgb(222, 245, 245);
  transition: 0.25s;
  min-width: 100px;
  border: 1px solid gray;
  height: 40px;
  width: 130px;
  border-radius: 20px;
}
button:hover {
  background-color: rgb(112, 194, 194);
}
button:disabled {
  background-color: lightgray;
  cursor: initial;
}
